/* VARIABLES */
/* --colors--*/
$base-orange : #fd5537;
$light-orange : #fc6e54;
$base-gray : #d7d7d7;

body {
	background-color: $base-gray;
}


#header {
	width: 100%;
	height: 50px;
	background-color: $base-orange;
	.search-block {
		float: right;
		width: 85%;
		input {
			float: left;
			margin: 8px 0;
			width: 200px;
			height: 25px;
			background: lighten($base-orange, 5%);
			border: 0;
			outline: 0;
			padding: 5px;
		}
	}
	button {
		border: 0;
		background: transparent;
		outline: 0;
		padding: 5px;
		&:active {
			background: darken($base-orange, 10%);
			outline: 0;
		}
		&.btn-toggle {
			float: left;
			width: 15%;
			height: 50px;
			img {
				width: 60%;
				max-width: 40px;
			}
		}
		&.btn-search {
			float: right;
			width: 50px;
			height: 50px;
			img {
				width: 60%;
			}	
		}
	}
}