/* VARIABLES */
/* --colors--*/
body {
  background-color: #d7d7d7; }

#header {
  width: 100%;
  height: 50px;
  background-color: #fd5537; }
  #header .search-block {
    float: right;
    width: 85%; }
    #header .search-block input {
      float: left;
      margin: 8px 0;
      width: 200px;
      height: 25px;
      background: #fd6a50;
      border: 0;
      outline: 0;
      padding: 5px; }
  #header button {
    border: 0;
    background: transparent;
    outline: 0;
    padding: 5px; }
    #header button:active {
      background: #fc2a05;
      outline: 0; }
    #header button.btn-toggle {
      float: left;
      width: 15%;
      height: 50px; }
      #header button.btn-toggle img {
        width: 60%;
        max-width: 40px; }
    #header button.btn-search {
      float: right;
      width: 50px;
      height: 50px; }
      #header button.btn-search img {
        width: 60%; }
